.half-black-half-white {
  background: #191a1d;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.aboutRow{
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
 padding-top: 20px;
}
.aboutRow > * {
padding-bottom: 20px;
}
.textContainer {
display: flex;
justify-content: center;
align-items: center;
line-height: 24px;
width: 100%;
padding-left: 20px;
padding-right:20px;
}
.textContainer  * {
margin-bottom: 0;
}
.textContainer h6 {
font-size: 45px;
}
.pictureContainer{
width: 100%;
}
.aboutHeader {
  padding-top: 20px;
  font-size: 60px;
  width: fit-content;
  text-align: center;
  margin: auto;
  font-size: 60px;
  color: white;
  font-family: AvenirRoman;
}
.header-bar {
  margin: auto;
  text-align: center;
  background: #444649;
  height: 4px;
  width: 150px;
}
.strongy {
  color: #fcc203;
}
@media (min-width: 800px) {

.aboutRow{
  flex-wrap: nowrap;
  padding-bottom: 50px;
  padding-Top: 50px,
}
.textContainer {
  line-height: 20px;
}
.pictureContainer{
  width: 70%;
}
.textContainer h6 {
  font-size: 56px;
}
}